*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #BCECFF;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background: #FFFAA3;
    align-items: center;
    align-content: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background: #555;
    color: white;
}

.navbar .logo {
    float: left;
    margin-right: 5px;
    padding: 0px 0px;
}

.navbar .search-bar {
    float: right;
    margin-left: 20px;
}

.navbar .login-icon {
    float: right;
}

.perfil{
    width: 25px;
    height: 16px;
}

.perfil:hover {
    color: white;
    background: #555;
}

.search-barra {
    margin-top: 12px;
    margin-right: 35px;
    padding: 3px 25px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.75);
}

.icon-pesquisar {
    height: 20px;
    width: 20px;
    display: none;
}

.search-bar {
    height: 32px;
}


@media (max-width: 780px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        position: absolute;
        margin: 0;
        padding: 20px;
        width: 35%;
        height: 100%;
        transform: translateX(-95%);
    }

    .navbar:hover {
        transform: translateX(0%);
    }

    .search-barra {
        display: none;
    }

    .icon-pesquisar {
        display: block;
    }

    .featured-section {
        display: flex;
        flex-direction: column;
    }

    .separator{
        display: none;
    }

    .home {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 80%));
        grid-gap: 0;
    }

    .section-imagem{
        display: flex;
        flex-direction: column;

    }
    .section-imagem-1 .item{
        display: flex;
        flex-direction: column;

    }
    .section-imagem-2 {
        display: flex;
        flex-direction: column;

    }
    .section-imagem-3 {
        display: flex;
        flex-direction: column;

    }
}

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}
.featured-section {
    display: flex;
    align-items: center;
    margin: 20px 0;

}

.featured-item {
    display: flex;
    align-items: center;
}

.featured-item img {
    width: 100px; /* Ajuste o valor conforme necessário */
    height: auto;
    margin-right: 20px; /* Ajuste o valor conforme necessário */
}

.featured-item h2 {
    font-weight: bold;
    color: black;
    margin: 0;
}

.featured-text {
    flex-grow: 1;
    text-align: left;
}

.featured-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
}
.separator {
    width: 4px;
    height: 100px;
    background-color: #333;
    margin: 20px 50px;}

.item {
    display: flex;
    overflow: hidden;
    height: 160px;
    width: 530px;
    gap: 10px;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.foto {
    width: 200px;
    height: 150px;
}

.home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 80%));
    margin: 30px;
    grid-gap: 5px;
    object-fit: cover;
    padding: 50px 80px 30px 80px;

}

.section-imagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    object-fit: cover;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.section-imagem-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    object-fit: cover;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.section-imagem-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    object-fit: cover;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.section-imagem-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    object-fit: cover;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}